/* Animation Basics */
body {
	background-color: #D8E8FA;
}

.wrapper {
	margin: 2em auto 2em auto;
	width:350px;
	position:relative;
}

.blue_robot {

}

.hello{
  font-size: 34px;
  color: black;
  background-color: pink;
  display: flex;
  justify-content: center;
  margin: 25% 25%;
}
